body {
    font-family: 'Kalam', cursive;
    overflow: hidden;
    text-align: center;
    background-color: #2dd4bf;
}

#lable{
    max-width: 600px;
    margin: auto;
    display: block;
    font-size: large;
    font-weight: 600;
    color: black;
    font-family:cursive;
    font-size:25px;
}

#bday-input{
    margin: 15px;
    height: 40px;
    width: 200px;
    font-size: 25px;
}

#check-palindrome{
    margin: auto;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    display: block;
}